<div class="margin-bottom-16">
  <input
    class="input-text bc-transparent outline-none"
    title="<%= path %>"
    value="<%= path %>"
    readonly="readonly"
  />
  <div class="margin-top-2 container-fluid">
    <ul class="row">
      <%_ files.forEach((e) => { _%>
      <li class="col-12 col-sm-2 col-xl-1 padding-4">
        <div
          class="img-container bc-transparent padding-2 d-flex-column-center"
        >
          <div class="svg-container w-64-h-64 d-flex-column-center p-relative">
            <img class="d-block lazy-img" data-src="<%= e.uri %>" />
            <div
              class="action d-none p-absolute t-0-r-0-b-0-l-0 d-flex-column-center"
            >
              <button class="open" data-path="<%= e.path %>">Open</button>
            </div>
          </div>
        </div>
        <span class="d-block fs-xx-small ta-right"
          ><%= e.width %> <%= e.height %></span
        >
        <input
          class="input-text bc-transparent text-align-center outline-none"
          title="<%= e.basename %>"
          value="<%= e.basename %>"
          readonly="readonly"
        />
      </li>
      <%_ }) _%>
    </ul>
  </div>
</div>
